# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
local_settings.py

# Database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Virtual environment
venv/
.env
env

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Visual Studio Code settings
.vscode/

# PyCharm settings
.idea/

# Log files
*.log
